*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.App{
  background-color: #f6f6f6;
  height: 100%;
}
.header{
  position: fixed;
  background-color: #fff;
  font-weight: 500;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 40;
  
}
.main{
  max-width: 2000px;
  margin: 10px 150px;
  padding: 0 50px ;
  overflow: hidden;
}
nav{
  display: flex;
  align-items: center;
  float: right;
  margin-left: 300px;
  margin-right: 50px;
  

}
ul {
  list-style:none;
}
ul li{
  padding:0 15px; 
  border-left: 1px solid #e2e2e2;
  float: left;
}
ul li a{
  text-decoration: none;
  color: #4B5459;
  font-size: 16px;
}
.logo{
  display: flex;
 margin: 0 100px;
}
.z{
  float:right;
  max-width: 620px;
}p{
  font-size: 9.5px;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box{
  height: 100%;
  float: left;
  display: flex;
  align-items: center;

}
.text-base{
  margin-right: 40px;
}
.w-full{
  height: 320px;
  display: block;
}
.z-10{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe19c;
  padding: .75rem;
  font-size: .875rem;
  color: #2b2f33;
  margin-top: 80px;
  height: 44px;z-index: 10;
}
.n{
margin: 0 430px;
margin-top: 220px;
max-width: 1400px;
z-index: 20;
position: relative;

}
.list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  margin: 12px;
  border-bottom: 1px solid;
}
.listitem{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:10px ;
  padding-bottom: 5px;
 
}
.listitem:hover{
   border-bottom: 3px solid #0077db;
}
.input{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.input-main{
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 10px;
  max-width: 1200px;
}
.btn{
  background-color: #fdb713;
  font-size: 16px;
}
.card{
  display:flex;
  justify-content: center;
  align-items: center;
}