*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.App{
  background-color: #f6f6f6;
  height: 100%;
  overflow: hidden;
}
.header{
  position: fixed;
  background-color: #fff;
  font-weight: 500;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 40;
  height: 90px;
  
}
.main{
  max-width: 2000px;
  margin:auto;
  padding: 0 50px ;
  overflow: hidden;
  display: flex;
  align-items: center;
}
nav{
  display: flex;
  align-items: center;
  float: right;
  margin-left: 500px;
  margin-right: 50px;
}
ul {
  list-style:none;
  display: flex;
  float: left;
}
ul li{
  padding:0 15px; 
  border-left: 1px solid #e2e2e2;
  float: left;
  
}
ul li a{
  text-decoration: none;
  color: #4B5459;
  font-size: 16px;
}
.logo{
  display: flex;
  margin: 0 100px;
}
.z{
  float:right;
  max-width: 620px;
}p{
  font-size: 9.5px;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box{
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  margin-right: 200px;

}
.text-base{
  margin-right: 40px;
}
.w-full{
  height: 320px;
  display: block;
}
.z-10{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe19c;
  padding: .75rem;
  font-size: .875rem;
  color: #2b2f33;
  margin-top: 80px;
  height: 44px;z-index: 10;
}
.n{
margin: 0 430px;
margin-top: 220px;
max-width: 1400px;
z-index: 20;
overflow: auto;
position: relative;

}
.list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  margin:auto;
  border-bottom: 1px solid;
}
.listitem{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:10px ;
  padding-bottom: 5px;
 
}
.listitem:hover{
   border-bottom: 3px solid #0077db;
}
.input{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.input-main{
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 10px;
  max-width: 1200px;
}
.btn{
  background-color: #fdb713;
  font-size: 16px;
}
.card{
  display:flex;
  justify-content: center;
  align-items: center;
}
.background{
  background: url("https://cdn.alibaba.ir/h/desktop/assets/images/app-mobile/diagonal-ovals.png-0315dd86.png");
  width: 600px;
  display: flex;
}
.textbox{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.main-list{
  display: flex;
  justify-content: center;
  
}
.footer{
  border-top: solid 1px rgb(212, 211, 211) ;
  background-color: #fff;
  color: #2b2f33;
  height:auto;
  margin-top: auto;
}
.footer-content{
  margin: 0 492px;
  padding: 8px 16px 0px;
}
.footer-list{
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding:32px 0 ;
}
.footer-listitem{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.downloadBox{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.downloadBox-main{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.directlyDownloadBox{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.directlyDownloadBox a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 5px 16px;
  border: 1px solid rgb(207, 211, 214) ;
  border-radius: 10px ;
  margin-left: 10px;
  height: 40px ;
  font-weight: bold;
}
.footer-nav{
  text-align: right;
  margin: 10px;
}
.footer-nav div{
  list-style: none;
  
}
.footer-nav div li{
  margin: 5px;
}
.footer-card{
  margin-right: .5rem;
  display: flex;
  align-items: center;
  font-size: .875rem;
  font-weight: 700;
  line-height: 2;
  border: 1px solid rgb(207, 211, 214) ;
  border-radius: 8px;
}
.footer-card img{
  width:70px ;
  height:70px ;
}
